*{
    box-sizing:border-box;
    margin:0;
}
body{
    background-image: url(background.jpg);
    background-size:cover;
}
.container{
    height:650px;
    width:900px;
    background: rgba(0,0,0,0.6);
    margin:auto;
    margin-top:25px;
    border-radius:10px;
    padding: 40px 70px;
    font-family: 'Rubik', sans-serif;
}
header>img {
    width:25%;
}
header{
    color:#58DB0C;
    text-align:center;
    margin-bottom:5px;
}
nav{
    background-color: #58DB0C;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}
section{
    margin-top:30px;
    color:white;
}
.nome>h2{
    display:inline-block;
    margin-left:2px;
}
.indirizzo>span::before {
  content: "\21A6   ";
}
.carica>.barraDiCarica{
    height:30px;
    border-radius:5px;
    margin-top:3px;
}
.monopattino1 .barraDiCarica{
    background-color:#F7C947;
    width:45%;
}
.monopattino2 .barraDiCarica{
    background-color:#2CC026;
    width:70%;
}
.monopattino3 .barraDiCarica{
    background-color:#BC5057;
    width:20%;
}
